---
import { Image } from 'astro:assets';
const { role } = Astro.props;
---

<li class="flex gap-4">
  <div
    class="relative mt-1 flex h-10 w-10 flex-none items-center justify-center rounded-full shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
  >
    <Image src={role.logo} alt="" class="h-7 w-7" width={28} height={28} format='avif' />
  </div>
  <dl class="flex flex-auto flex-wrap gap-x-2">
    <dt class="sr-only">Company</dt>
    <dd
      class="w-full flex-none text-sm font-medium text-zinc-900 dark:text-zinc-100"
    >
      <a aria-label={`${role.company} website`} href={role.url}>
        {role.company}
      </a>
    </dd>
    <dt class="sr-only">Role</dt>
    <dd class="text-xs text-zinc-500 dark:text-zinc-400">
      {role.title}
    </dd>
    <dt class="sr-only">Date</dt>
    <dd
      class="ml-auto text-xs text-zinc-500 dark:text-zinc-400"
      aria-label={`${role.start} until ${role.end}`}
    >
      <time date-time={role.start}>
        {role.start}
      </time>{' '}
      <span aria-hidden="true">—</span>{' '}
      <time date-time={role.end}>
        {role.end}
      </time>
    </dd>
  </dl>
</li>
