---
import { Card } from '@components/Books/Card'
import { readIcon } from '@components/Books/Icons'
import type { CollectionEntry } from 'astro:content'
import { Image } from 'astro:assets';
import { getCollection } from 'astro:content';

type BookCardProps = {
  book: CollectionEntry<"books">
}

type PublisherProps = {
  publisher: CollectionEntry<"publishers">
}

const { book } = Astro.props as BookCardProps;

const { data, slug } = book

const { title, coverImage, pubDatetime, status } = data

const publisherName = await getCollection("publishers").then((collection) => {
  console.log(data.publisher)
  const publisher = collection.find((entry) => entry.slug === data.publisher.slug)
  return publisher?.data.name
})

const authorName = await getCollection("authors").then((collection) => {
  console.log(data.author)
  const author = collection.find((entry) => entry.slug === data.author.slug)
  return author?.data.name
})

---

<Card className="flex flex-row space-y-4">
      <div class="h-full flex flex-row space-x-4  content-between justify-between">
        {coverImage && <Image
          src={coverImage.path}
          alt={`${title} cover`}
          class="z-10 object-cover max-h-36 items-center justify-center rounded-md shadow-md shadow-zinc-800/5 ring-1 ring-zinc-900/5 dark:border dark:border-zinc-700/50 dark:bg-zinc-800 dark:ring-0"
          width={100}
          height={140}
        />}
        <div>
          <h2 class="text-base font-semibold text-zinc-800 dark:text-zinc-100">
            <Card.Link href={`/library/book/${slug}`}> {title}</Card.Link>
          </h2>
          <Card.Description>by {authorName} <br /><span class="text-xs">{publisherName}, {pubDatetime.getFullYear()}</span></Card.Description>
        </div>
      </div>
    </Card>
