---
import Container from '../components/Container.astro';
import MainLayout from '../layouts/MainLayout.astro';
import { Picture as Image } from 'astro-imagetools/components';
---

<MainLayout title="About">
  <Container class="mt-16 sm:mt-32">
    <div
      class="grid grid-cols-1 gap-y-16 lg:grid-cols-2 lg:grid-rows-[auto_1fr] lg:gap-y-12 prose prose-xl"
    >
      <div class="lg:pl-20">
        <div class="max-w-xs px-2.5 lg:max-w-none">
          <Image
            src="/src/images/placeholder-social.jpg"
            alt="Art Rosnovsky"
            width={600}
            height={600}
            placeholder="tracedSVG"
            loading="eager"
            format="avif"
            attributes={{
              class: "rounded-full"
            }}
          />
        </div>
      </div>
      <div
        class="prose-xl prose dark:prose-invert lg:order-first lg:row-span-2"
      >
        <h1
          class="text-4xl font-bold tracking-tight text-zinc-800 dark:text-zinc-100 sm:text-5xl"
        >
          Hey, my name is Art.
        </h1>
        <div class="mt-6 space-y-7 text-base text-zinc-700 dark:text-zinc-400">
          <p>
            I'm a web developer based in Western Washington. I live about 50
            miles north of Seattle in a small town called Arlington.
          </p>

          <blockquote>
            For a while, I lived in London (not that one, but the one in
            Ontario, Canada) before moving to Vancouver (not that one, but the
            one in Washington; not that Washington, but Washington state). Now I
            live in Arlington (and not the one in Virginia, mind you!)
          </blockquote>
          <p>
            After short gigs at Intel, AT&T, and Microsoft, I ended up at <a
              href="https://auth0.com">Auth0</a
            > (acquired by <a href="https://okta.com">Okta</a> in May 2021). Here
            I work as a Software Engineer, building out Okta's Customer Identity
            Cloud Digital Experience programs and tooling.
          </p>

          <p>
            Feel free to connect with me on <a
              href="https://lounge.town/@rosnovsky">Mastodon</a
            > or <a href="https://linkedin.com/in/rosnovsky">LinkedIn</a>.
          </p>

          <blockquote>
            For the longest time, I'd been a podcaster. In my previous life, I
            even was a minor radio celebrity, worked as a television producer
            and correspondent, and have done a bunch of front-line reporting
            from terrorist attacks, riots, and hostage situations. Yet here we
            are.
          </blockquote>
        </div>
      </div>
      <div class="lg:pl-20">
        <ul role="list">
          <!-- <SocialLink
            class=""
            href="https://rosnovsky.us/feed/feed.xml"
            icon={RssIcon}
          >
            Subscribe to RSS
          </SocialLink>
          <SocialLink
            href="https://lounge.town/@rosnovsky"
            icon={MastodonIcon}
            class="mt-4"
          >
            Follow on Mastodon
          </SocialLink>
          <SocialLink
            href="https://github.com/rosnovsky"
            icon={GitHubIcon}
            class="mt-4"
          >
            Follow on GitHub
          </SocialLink>
          <SocialLink
            href="https://linkedin.com/in/rosnovsky"
            icon={LinkedInIcon}
            class="mt-4"
          >
            Follow on LinkedIn
          </SocialLink>
          <SocialLink
            href="mailto:artem@rosnovsky.us"
            icon={MailIcon}
            class="mt-8 border-t border-zinc-100 pt-8 dark:border-zinc-700/40"
          >
            artem@rosnovsky.us
          </SocialLink> -->
        </ul>
      </div>
    </div>
  </Container>
</MainLayout>
