---
import { getEntry } from 'astro:content';
import type { CollectionEntry } from 'astro:content';
import { Picture } from 'astro-imagetools/components';

const { game } = Astro.props;

const studio = (await getEntry(
  game.data.studio,
  'studios'
)) as CollectionEntry<'games'>;
---

<article
  class="relative isolate flex flex-col justify-end overflow-hidden rounded-2xl bg-gray-900 px-8 pb-8 pt-80 sm:pt-48 lg:pt-80"
>
  <div class="absolute inset-0 -z-10 h-full w-full object-cover">
    <Picture src={game.data.coverImage.path} alt="" placeholder="blurred" />
  </div>
  <div
    class="absolute inset-0 -z-10 bg-gradient-to-t from-gray-900 via-gray-900/40"
  >
  </div>
  <div
    class="absolute inset-0 -z-10 rounded-2xl ring-1 ring-inset ring-gray-900/10"
  >
  </div>

  <div
    class="text-md flex flex-wrap items-center gap-y-1 overflow-hidden leading-6 text-gray-300"
  >
    <div class="flex">
      {studio.data.name} (<time datetime={game.data.pubDate.getFullYear()}
        >{game.data.pubDate.getFullYear()}</time
      >)
    </div>
  </div>
  <h3 class="mt-3 text-2xl font-semibold leading-6 text-white">
    <a href=`/games/${studio.slug}/${game.slug}`>
      <span class="absolute inset-0"></span>
      {game.data.name}
    </a>
  </h3>
</article>
