---
import { Image } from 'astro:assets'
import { Icon } from 'astro-icon/components'
import Button from './Button.astro'
import Container from './Container.astro'
import intel from '@images/logos/intel.svg'
import att from '@images/logos/att.svg'
import microsoft from '@images/logos/microsoft.svg'
import auth0 from '@images/logos/auth0.svg'
import beyondid from '@images/logos/beyondid.png'
import logo from '@images/parallel-decorations.svg'

const companies = [
  {
    name: 'Intel',
    dates: 'Dec 2016 - Apr 2017',
    description:
      "Implemented Intel's new Product Catalog. Fun little gig, met a bunch of cool people!",
    logo: intel,
  },
  {
    name: 'AT&T',
    dates: 'Apr 2017 - Sep 2018',
    description:
      'Worked on the MyServices team, mostly fixing issues with myServices on the web and in the mobile app. Fun times!',
    logo: att,
  },
  {
    name: 'Transmark Logistics',
    dates: 'Dec 2018 - Apr 2019',
    description:
      'Built a new internal real-time shipment and resources tracking and processing system. It was a blast!',
    logo: logo,
  },
  {
    name: 'Microsoft',
    dates: 'Apr 2019 - Oct 2019',
    description:
      'Built an internal search tool (backend and interface) for the Customer Experience team. Learned a ton about Microsoft stack, and also a bit of C#. Loved it!',
    logo: microsoft,
  },
  {
    name: 'Auth0',
    dates: 'Dec 2019 - Apr 2024',
    description:
      'Built a bunch of internal tools and a few customer-facing ones. Also, I got to work on the Auth0 Dashboard, which was a blast! I learned a ton about security and identity management as well. Enjoyed it a lot!',
    logo: auth0,
  },
  {
    name: 'BeyondID',
    dates: 'Apr 2024 - Present',
    description:
      'Helping businesses secure their digital assets and protect their employees. Been super fun so far!',
    logo: beyondid,
  },
]
---

<section
  class="relative overflow-x-clip bg-white py-16 dark:bg-slate-900 sm:py-24 lg:py-32"
>
  <Container class="relative">
    <div
      class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-3"
    >
      <div>
        <h2
          class="font-display text-4xl font-semibold text-slate-900 dark:text-slate-100 sm:text-5xl"
        >
          My career
          <span class="relative whitespace-nowrap">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="167"
              height="24"
              viewBox="0 0 167 24"
              fill="currentColor"
              class="absolute left-0 top-2/3 h-[0.6em] w-full fill-emerald-200/75 dark:fill-emerald-800/75"
            >
              <g clip-path="url(#clip0_257_225)">
                <path
                  d="M166.409 20.2699C162.515 14.571 156.265 13.9119 151.392 12.4829C145.948 10.8807 140.484 9.3494 135.006 8.13918C125.391 6.01418 115.729 4.4602 106.064 3.28974C84.7177 0.704517 63.2477 0.036903 41.9031 2.5852C28.3517 4.20452 14.7934 6.44599 1.5656 11.8324C-0.0104672 12.4744 0.139137 16.0057 1.8074 16.0454C14.8056 16.3522 27.8194 13.7897 40.8089 12.9346C53.7392 12.088 66.6991 11.642 79.6433 11.9517C95.8562 12.3409 112.066 14 128.2 16.9261C134.407 18.0511 140.617 19.2017 146.812 20.5369C153.167 21.9062 159.481 24 165.873 22.6278C166.506 22.4943 166.988 21.1164 166.409 20.2699Z"
                ></path>
              </g>
              <defs>
                <clipPath id="clip0_257_225">
                  <rect width="167" height="24" fill="white"></rect>
                </clipPath>
              </defs>
            </svg>

            <span class="relative text-emerald-700">journey</span>
          </span>
          so far
        </h2>
        <p
          class="mt-6 text-lg leading-relaxed text-slate-700 dark:text-slate-300"
        >
          I've been around Web Development for over a decade now. I've worked
          with a bunch of different technologies and stacks, and I've had the
          pleasure of working with some amazing people. Here's a quick overview
          of my career so far.
        </p>
        <Button href="#" class="mt-10" variant="secondary">
          Download Resume
          <Icon
            name="download-2"
            class="h-[18px] w-[18px] text-slate-600 dark:text-slate-400"
          />
        </Button>
      </div>
      <ol
        class="col-span-2 grid grid-cols-1 gap-x-8 gap-y-10 text-base leading-7 text-gray-600 [counter-reset:section] sm:grid-cols-2 lg:gap-y-16"
      >
        {
          companies.map((company) => (
            <li class="relative [counter-increment:section] before:absolute before:-top-7 before:right-0 before:font-mono before:text-9xl before:font-black before:leading-none before:text-slate-50 before:content-[counter(section,decimal-leading-zero)] dark:before:text-slate-950/20">
              <div>
                <div class="mb-6 flex h-11 w-11 items-center justify-center rounded-lg bg-gradient-to-br from-emerald-50 via-slate-50 to-emerald-50 ring-1 ring-slate-900/5 dark:bg-gradient-to-br dark:from-emerald-950 dark:via-slate-950 dark:to-emerald-950 dark:ring-slate-100/5">
                  <Image
                    src={company.logo}
                    alt={company.name}
                    width={20}
                    height={20}
                    loading="eager"
                  />
                </div>
                <p class="text-sm font-medium text-emerald-700 dark:text-emerald-300">
                  {company.dates}
                </p>
                <p class="mt-2 font-display text-lg font-semibold text-slate-900 dark:text-slate-100">
                  {company.name}
                </p>
              </div>
              <p class="mt-3 text-base leading-7 text-slate-700 dark:text-slate-300">
                {company.description}
              </p>
            </li>
          ))
        }
        <li
          class="relative mt-3 flex h-fit items-center font-writing text-2xl tracking-wide text-slate-600 dark:text-slate-400 sm:left-14 sm:top-6 sm:mt-0 sm:block sm:text-[27px] md:left-20"
        >
        </li>
        <li
          class="relative mt-3 flex h-fit items-center font-writing text-2xl tracking-wide text-slate-600 dark:text-slate-400 sm:left-14 sm:top-6 sm:mt-0 sm:block sm:text-[27px] md:left-20"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="124"
            height="121"
            viewBox="0 0 124 121"
            fill="none"
            class="relative -left-8 h-auto w-24 translate-y-2 rotate-90 -scale-y-100 transform text-slate-600 dark:text-slate-300 sm:w-32 sm:scale-100"
          >
            <g clip-path="url(#clip0_257_335)">
              <path
                d="M101.672 26.3321C96.8237 38.134 92.186 44.0573 79.0339 44.4141C70.6979 44.6403 60.8529 42.694 53.4527 38.7688C49.1632 36.4936 56.8633 35.9887 58.3238 36.046C75.2213 36.7084 91.469 47.7751 94.8076 64.9225C96.9834 76.0979 88.4245 81.9067 78.6041 84.1752C63.6278 87.6349 47.752 81.2525 36.0397 72.0991C32.1436 69.0541 19.8172 60.5149 22.0934 54.2698C23.9793 49.0954 31.7507 55.0061 34.018 56.9118C37.2506 59.6288 44.0244 65.7437 43.9149 70.3449C43.7576 76.9438 32.7995 78.0771 28.2217 77.7848C19.5283 77.2298 10.3327 73.6012 2.05876 71.0225C1.4496 70.8325 5.37871 69.9759 6.06477 69.8198C8.02976 69.3721 9.72632 68.1441 11.7325 67.8657C13.2208 67.6592 21.2769 68.287 16.2554 69.947C14.4855 70.532 2.71379 69.3189 2.58655 69.7453C2.06535 71.4868 10.2182 79.8642 11.7371 81.4008C15.3955 85.1003 14.5874 73.4626 14.2296 71.9325"
                stroke="currentColor"
                stroke-width="2"
                stroke-linecap="round"></path>
            </g>
            <defs>
              <clipPath id="clip0_257_335">
                <rect
                  width="106"
                  height="67"
                  fill="white"
                  transform="matrix(-0.748497 0.663138 0.663138 0.748497 79.3407 0)"
                ></rect>
              </clipPath>
            </defs>
          </svg>
          <span
            class="inline-block w-52 max-w-[240px] transform sm:w-auto sm:-rotate-12"
          >
            I'm here at the moment
          </span>
        </li>
      </ol>
    </div>
  </Container>
</section>
