---
import MainLayout from './MainLayout.astro';
import Container from '../components/Container.astro';
import { getEntry, type CollectionEntry } from 'astro:content';
import { Picture } from 'astro-imagetools/components';

const { book } = Astro.props
const author = await getEntry(book.data.author) as CollectionEntry<"authors">

const publisher = await getEntry(book.data.publisher) as CollectionEntry<"publishers">
---

<MainLayout title={`${book.data.title} by ${author.data.name} in Rosnovsky Park™ Library`}>
  <Container class="mt-16 lg:mt-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto grid max-w-2xl grid-cols-1 items-start gap-x-8 gap-y-16 sm:gap-y-24 lg:mx-0 lg:max-w-none lg:grid-cols-2">
      <div class="lg:pr-4">
        <div class="relative aspect-[5/7] overflow-hidden rounded-3xl bg-gray-900 px-6 pb-9 pt-64 shadow-2xl sm:px-12 lg:max-w-lg lg:px-8 lg:pb-8 xl:px-10 xl:pb-10">
          {
              book.data.cover && (
                <div class="absolute inset-0 h-full w-full object-cover brightness-100 saturate-50">
                  <Picture
                  width={1097}
                    src={book.data.cover}
                    alt={book.data.title}
                    loading="lazy"
                    format="avif"
                    placeholder="tracedSVG"
                  />
                  </div>
              )
            }
          <div class="absolute left-1/2 top-1/2 -ml-16 -translate-x-1/2 -translate-y-1/2 transform-gpu blur-3xl" aria-hidden="true">
            <div class="aspect-[1097/845] w-[68.5625rem] bg-gradient-to-tr from-[#a7f0c6] to-[#1e4f00] opacity-60" style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)"></div>
          </div>
        </div>
      </div>
      <div>
        <p class="text-base font-semibold leading-7 text-emerald-600">{author.data.name}</p>
        <h1 class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">{book.data.title}</h1>
        <dl class="mt-1 grid grid-cols-3 gap-8 border-t border-gray-900/10 pt-1 sm:grid-cols-3">
          <div>
            <dt class="text-sm font-semibold leading-6 text-gray-600">Publisher</dt>
            <dd class=" text-md font-bold leading-10 tracking-tight text-gray-900">{publisher.data.name}</dd>
          </div>
          <div>
            <dt class="text-sm font-semibold leading-6 text-gray-600">Published</dt>
            <dd class="text-md font-bold leading-10 tracking-tight text-gray-900">{book.data.pubDate.getFullYear()}</dd>
          </div>
          <div>
            <dt class="text-sm font-semibold leading-6 text-gray-600">Pages</dt>
            <dd class="text-md font-bold leading-10 tracking-tight text-gray-900">{book.data.pages}</dd>
          </div>
        </dl>
        <div class="text-base leading-7 text-gray-700 lg:max-w-lg mt-10">
          
          
          <div class="max-w-xl prose prose-xl">
            {book.body}
          </div>
        </div>
        <div class="mt-10 flex">
          <a href=`/library/${author.slug}` class="text-base font-semibold leading-7 text-emerald-600">More books by {author.data.name} <span aria-hidden="true">&rarr;</span></a>
        </div>
      </div>
    </div>
  </div>
  </Container>
</MainLayout>
