---
import { SITE } from '@config';
import Layout from '@layouts/Layout.astro';
import Main from '@layouts/Main.astro';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import BookCard from '@components/Books/BookCard.astro';
import LinkButton from '@components/LinkButton.astro';
import type { CollectionEntry } from 'astro:content';
import { Image } from 'astro:assets';

export interface Props {
  pageNum: number;
  totalPages: number;
  books: CollectionEntry<'books'>[];
  totalBooks: number;
}

const { pageNum, totalPages, totalBooks, books } = Astro.props;

const prev = pageNum > 1 ? '' : 'disabled';
const next = pageNum < totalPages ? '' : 'disabled';
---

<Layout title={`Books | ${SITE.title}`}>
  <Header activeNav="blog" />
  <Main
    pageTitle="Books"
    pageDesc={`All ~${totalPages * SITE.postPerPage} books in my library.`}
  >
    <ul>
      {
        books.map(({ data }) => (
          <ul
          role="list"
          class="grid grid-cols-1 gap-x-12 gap-y-16 sm:grid-cols-2 lg:grid-cols-3 mt-10"
        >
          {books.map((book) => (
            <BookCard book={book} key={book.data.title} />
          ))}
        </ul>
        ))
      }
    </ul>
  </Main>

  {
    totalPages > 1 && (
      <nav class="pagination-wrapper" aria-label="Pagination">
        <LinkButton
          disabled={prev === 'disabled'}
          href={`/books${pageNum - 1 !== 1 ? '/' + (pageNum - 1) : ''}`}
          className={`mr-4 select-none ${prev}`}
          ariaLabel="Previous"
        >
          <svg xmlns="http://www.w3.org/2000/svg" class={`${prev}-svg`}>
            <path d="M12.707 17.293 8.414 13H18v-2H8.414l4.293-4.293-1.414-1.414L4.586 12l6.707 6.707z" />
          </svg>
          Prev
        </LinkButton>
        <LinkButton
          disabled={next === 'disabled'}
          href={`/books/${pageNum + 1}`}
          className={`ml-4 select-none ${next}`}
          ariaLabel="Next"
        >
          Next
          <svg xmlns="http://www.w3.org/2000/svg" class={`${next}-svg`}>
            <path d="m11.293 17.293 1.414 1.414L19.414 12l-6.707-6.707-1.414 1.414L15.586 11H6v2h9.586z" />
          </svg>
        </LinkButton>
      </nav>
    )
  }
  <Footer noMarginTop={totalPages > 1} />
</Layout>

<style>
  .pagination-wrapper {
    @apply mb-8 mt-auto flex justify-center;
  }
  .disabled {
    @apply pointer-events-none select-none opacity-50 hover:text-skin-base group-hover:fill-skin-base;
  }
  .disabled-svg {
    @apply group-hover:!fill-skin-base;
  }
</style>
