---
import '@styles/tailwind.css';
import '@fontsource/atkinson-hyperlegible';
import '@fontsource-variable/lexend';
import '@fontsource/gochi-hand';
import '@fontsource/mr-dafoe';
import Header from '@components/Header.astro';
import Footer from '@components/Footer.astro';
import { SITE } from '@config';
import { ClientRouter, fade } from 'astro:transitions';

interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.description,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname.replace(/\/$/, ''), Astro.site)
    .href,
} = Astro.props;

const socialImageURL = new URL(ogImage ?? SITE.ogImage, Astro.url.origin).href;
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <script
      is:inline
      defer
      src="https://umami.art0.dev/script.js"
      data-website-id="5a7cdc58-f62d-4822-b469-62c54fae7736"></script>

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />
    <meta property="og:site_name" content="Rosnovsky Park™" />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <ClientRouter transition:animate={fade({ duration: 1000 })} />
  </head>
  <body class="bg-white text-slate-900 dark:bg-slate-900 dark:text-slate-200">
    <Header />
    <slot />
    <Footer />
  </body>
</html>

<script is:inline>
  document.addEventListener('astro:page-load', () => {
    const theme = (() => {
      if (
        typeof localStorage !== 'undefined' &&
        localStorage.getItem('theme')
      ) {
        return localStorage.getItem('theme');
      }
      if (window.matchMedia('(prefers-color-scheme: dark)').matches) {
        return 'dark';
      }
      return 'light';
    })();

    if (theme === 'light') {
      umami.track('theme', { theme });
      document.documentElement.classList.remove('dark');
    } else {
      umami.track('system-theme', { theme });
      document.documentElement.classList.add('dark');
    }
    window.localStorage.setItem('theme', theme);
  });
</script>
