---
import { SITE } from '@config';
import '@styles/base.css';
import { ViewTransitions } from 'astro:transitions';
import '@fontsource/atkinson-hyperlegible';
import '@fontsource-variable/fira-code';

export interface Props {
  title?: string;
  author?: string;
  description?: string;
  ogImage?: string;
  canonicalURL?: string;
}

const {
  title = SITE.title,
  author = SITE.author,
  description = SITE.desc,
  ogImage = SITE.ogImage,
  canonicalURL = new URL(Astro.url.pathname, Astro.site).href,
} = Astro.props;

const socialImageURL = new URL(
  ogImage ?? SITE.ogImage ?? 'og.png',
  Astro.url.origin
).href;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="canonical" href={canonicalURL} />
    <meta name="generator" content={Astro.generator} />

    <!-- General Meta Tags -->
    <title>{title}</title>
    <meta name="title" content={title} />
    <meta name="description" content={description} />
    <meta name="author" content={author} />
    <link rel="sitemap" href="/sitemap-index.xml" />

    <!-- Open Graph / Facebook -->
    <meta property="og:title" content={title} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:image" content={socialImageURL} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={canonicalURL} />
    <meta property="twitter:title" content={title} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={socialImageURL} />

    <meta name="theme-color" content="" />

    <ViewTransitions />

    <script is:inline src="/toggle-theme.js"></script>
  </head>
  <body>
    <slot />
  </body>
</html>

<script is:inline>
(function () {
  if (typeof window !== "undefined") {
    const isSystemColorSchemeDark = window.matchMedia(
      "(prefers-color-scheme: dark)"
    ).matches;
    const storageTheme = sessionStorage.getItem("theme");
    if (!storageTheme && isSystemColorSchemeDark) {
      document.documentElement.classList.add("dark");
      document.head.children.namedItem("theme-color").content = "#0f172a";
    } else if (storageTheme === "dark") {
      document.documentElement.classList.add("dark");
      document.head.children.namedItem("theme-color").content = "#0f172a";
    } else {
      document.documentElement.classList.remove("dark");
      document.head.children.namedItem("theme-color").content = "#ffffff";
    }
  }
})();
</script>
